/* Adjustments for all page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* For responsive design, I set default value for font size */
html {
    font-size: 10px;
}

/* Fix for visual errors */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* Uppercase structure for words */
.textUppercase {
    text-transform: uppercase;
}

/* All 'a' tag common attributes */
a {
    text-decoration: none;
}

/* < ----- Navbar ----- > */

/* General adjustments for navbar  */
.navbarContainer {
    width: 100%;
    height: auto;
    background-color: #343535;
    z-index: 500;
}

/* nav properties */
nav {
    position: sticky;
    top: 0;
}

/* logoName component of Navbar */
.logoName {
    float: left;
    padding: 2.5rem;
}

/* Adjustments for link in the "logoName" */
.logo {
    font-size: 3rem;
    color: #D9643A;
    font-weight: 700;
    transition: 0.2s;
}

/* hover option for logo and name */
.logo:hover {
    text-shadow: 10px 10px 10px black;
}

/* menus component of Navbar */
.menus {
    float: right;
    margin-right: 3rem;
}

/* Items in the navbar where are at right */
.menus .menuItem {
    float: left;
    width: fit-content;
}

/* General adjustments for menu items */
ul {
    list-style-type: none;
}

/* padding settings for menu items */
.menus .menuItem {
    padding-top: 3rem;
    padding-left: 2rem;
}

/* Adjustments for link that are in menu */
.menus .itemLink {
    color: #D9643A;
    font-size: 1.8rem;
    font-weight: 700;
    display: block;
    letter-spacing: 0.05rem;
    transition: 0.2s;
}

/* hover option for menus*/
.menus .itemLink:hover {
    border: 2px solid black;
    border-radius: 5px;
    background-color: #D9643A;
    color: #343535;
}

/* DropDown menus general attributes */
.dropDownMenu {
    display: none;
    position: absolute;
    background-color: #343535;
    min-width: 12.5rem;
    z-index: 500;

    font-size: 1.4rem;
    border: 2px solid black;
    border-radius: 5px;
}

/* DropDown menus with active option */
.menuItem:hover .dropDownMenu {
    display: block;
}

/* dropDownMenu menus attributes */
.dropDownMenu a {
    color: #D9643A;
    padding: 12px 5px;
    display: block;
}

/* hover option for dropdown menus */
.dropDownMenu a:hover {
    background-color: #D9643A;
    color: #343535;
}

/* < ----- Slider ----- > */

/* slider */
#slider {
    width: 100%;
    background-color: black;
    padding: 3rem;
    text-align: center;
}

/* Slideshow container */
.slideshow-container {
    max-width: 75%;
    max-height: fit-content;
    position: static;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* images adjustments for slider */
.mySlides img {
    width: 50%;
    max-width: 800px;
    height: 45rem;
    border: 5px solid black;
    border-radius: 25px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: static;
    top: 50%;
    width: auto;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    transition: 0.6s ease;
    border-radius: 0 0.3rem 0.3rem 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 0.3rem 0 0 0.3rem;
    float: right;
}

/* Position the "prev button" to the left */
.prev {
    left: 0;
    border-radius: 0.3rem 0 0 0.3rem;
    float: left;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: #D9643A;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 2px;
    background-color: #343535;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* hover option for dots */
.active,
.dot:hover {
    background-color: #D9643A;
}

/* menu button invisible up to resolution */
.menus .menu-icon {
    display: none;
}

/* Responsive Breakpoints */

/* Adjustments for 926px and above */
@media screen and (min-width:926px) {
    html {
        font-size: 10px;
    }
}

/* Adjustments for 925px and below */
@media screen and (max-width:925px) {
    html {
        font-size: 9px;
    }
}

/* Adjustments for 850px and below */
@media screen and (max-width:850px) {
    html {
        font-size: 8px;
    }
}

/* Adjustments for 750px and below */
@media screen and (max-width:750px) {
    html {
        font-size: 7px;
    }
}

/* Adjustments for 650px and below */
@media screen and (max-width:650px) {
    html {
        font-size: 6px;
    }

    .logoName {
        float: none;
        text-align: left;
        padding-bottom: 0.5rem;
    }

    .menus {
        float: none;
    }

    .menus .itemLink {
        padding-left: 0;
    }

    .menus .menuItem {
        float: none;
        text-align: left;
        padding-top: 0;
        padding-left: 0;
        padding: 1rem;
    }

    .menus .menu-icon {
        display: block;
        position: absolute;
        top: 2.5rem;
        right: 1rem;
        font-size: 2.5rem;
    }

    .menus.responsive li:not(:first-child) {
        display: none;
    }
}

/* Adjustments for 500px and below */
@media screen and (max-width:500px) {
    html {
        font-size: 5px;
    }
}