/* Adjustments for all page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* For responsive design, I set default value for font size */
html {
    font-size: 10px;
}

/* Fix for visual errors */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* Uppercase structure for words */
.textUppercase {
    text-transform: uppercase;
}

/* All 'a' tag common attributes */
a {
    text-decoration: none;
}

/* General adjustments for navbar  */
.navbarContainer {
    width: 100%;
    height: auto;
    background-color: black;
}

/* logoName component of Navbar */
.logoName {
    float: left;
    padding: 2.5rem;
}

/* Adjustments for link in the "logoName" */
.logo {
    font-size: 3rem;
    color: #0000EE;
    font-weight: 700;
}

/* menus component of Navbar */
.menus {
    float: right;
    margin-right: 3rem;
}

/* Items in the navbar where are at right */
.menus .menuItem {
    float: left;
}

/* General adjustments for menu items */
ul {
    list-style-type: none;
}


/*  */
.menus .menuItem {
    padding-top: 3rem;
    padding-left: 2rem;
}

/* Adjustments for link that are in menu */
.menus .itemLink {
    color: #0000EE;
    font-size: 1.8rem;
    font-weight: 700;
    display: block;
    letter-spacing: 0.05rem;
}

/* hover option for menus*/
.menus .itemLink:hover {
    border: 2px solid black;
    border-radius: 7px;
    background-color: white;
    color: black;
}

/* DropDown menus general attributes */
.dropDownMenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 125px;
    z-index: 1;

    font-size: 1.4rem;
    border: 2px solid black;
}

/* DropDown menus with active option */
.menuItem:focus-within .dropDownMenu {
    display: block;
}

/* dropDownMenu menus attributes */
.dropDownMenu a {
    color: black;
    padding: 12px 16px;
    display: block;
}

/* hover option for dropdown menus */
.dropDownMenu a:hover {
    background-color: #f1f1f1
}